{% extends "SindilojasCobrancaBundle::layout.html.twig" %}
{% block title %}Ficha do cliente{% endblock %}
{% block head %}
    <link href="{{ asset('bundles/sindilojas/css/style.datatables.css') }}" rel="stylesheet">
    <script src="{{ asset('bundles/sindilojas/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('bundles/sindilojas/js/jquery-datatables.responsive.js') }}"></script>
    <script src="//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js"></script>
    <script src="{{ asset('bundles/sindilojas/js/select2.min.js') }}"></script>
    <script src="{{ asset('bundles/sindilojas/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/sindilojas/js/jquery.maskMoney.js') }}"></script>
    <script src="{{ asset('bundles/sindilojas/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery("#cpf").mask("999.999.999-99",
            {completed:function(){
                    jQuery(".locked").fadeIn();
                    jQuery.post('{{ path('_cobranca_dividas')}}', {cpf: jQuery(this).val()}, function(data) {
                        jQuery(".dividas, .registros").remove();
                        jQuery(".contentpanel").append(data);
                        jQuery(".locked").fadeOut();
                    });
                }}
            );
        });
        
        function detalhesDivida(id) {
            jQuery(".locked").fadeIn();
            jQuery(".negociacao").remove();
            jQuery.post('{{ path('_detalhes_divida')}}', {id: id}, function(data) {
                jQuery(".locked").fadeOut();
                jQuery(data).insertBefore(".registros");
                jQuery("#entrada").maskMoney({thousands:'.', decimal:','});
                jQuery("#vencimento").mask("99/99/9999").datepicker();;
            });
        }
       
    </script>
{% endblock %}
{% block mainpanel %}
    <div class="pageheader">
        <div class="media">
            <div class="pageicon pull-left">
                <i class="fa fa-th-list"></i>
            </div>
            <div class="media-body">
                <ul class="breadcrumb">
                    <li><a href="{{ path('_index') }}"><i class="glyphicon glyphicon-home"></i></a></li>
                    <li><a href="{{ path('_clientes') }}">Clientes</a></li>
                    <li>Ficha do Cliente</li>
                </ul>
                <h4>Ficha do Cliente</h4>
            </div>
        </div><!-- media -->
    </div><!-- pageheader -->
     <div class="contentpanel">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">Buscar Cliente</h4>
            </div><!-- panel-heading -->
            <div class="panel-body">
                <p>Insira o Cpf do cliente abaixo.</p>
                <label>CPF</label>
                <div class="input-group mb15">
                    <div ><input type="text" class="form-control" id="cpf"></div>
                </div><!-- input-group -->

            </div><!-- panel-body -->
        </div>
     </div><!-- contentpanel -->
{% endblock %}
