{% extends "SindilojasCobrancaBundle::layout.html.twig" %}
{% form_theme form 'SindilojasCobrancaBundle:Form:fields.html.twig' %}
{% block head %}
    <script src="{{ asset('bundles/sindilojas/js/jquery.validate.min.js') }}"></script>
    <script>
        jQuery(document).ready(function(){
            jQuery("#basicForm").validate({
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                }
            });
        });
    </script>
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-pencil"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Clientes</a></li>
                <li>Cadastrar Cliente</li>
            </ul>
            <h4>Cadastrar Cliente</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->


    <div class="row">
        <div class="col-md-12">
            <form class="form-horizontal form-bordered" id="basicForm" action="form-validation.html">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        {{ form_row(form.nome) }}
                        {{ form_row(form.cpf) }}
                        {{ form_row(form.rg) }}
                        {{ form_row(form.cep) }}
                        {{ form_row(form.uf) }}
                        {{ form_row(form.cidade) }}
                        {{ form_row(form.bairro) }}
                        {{ form_row(form.rua) }}
                        {{ form_row(form.numero) }}
                        {{ form_row(form.complemento) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.telefone) }}
                        {{ form_row(form.nascimento) }}
                    </div><!-- row -->
                </div><!-- panel-body -->
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <button class="btn btn-primary mr5">Salvar</button>
                        <button type="reset" class="btn btn-dark">Limpar</button>
                    </div>
                  </div>
                </div><!-- panel-footer -->  
            </div><!-- panel -->
            </form>

        </div><!-- col-md-6 -->

    </div><!--row -->


</div><!-- contentpanel -->
{% endblock %}