{% extends "SindilojasCobrancaBundle::layout.html.twig" %}
{% form_theme form 'SindilojasCobrancaBundle:Form:fields.html.twig' %}
{% form_theme form.dividas 'SindilojasCobrancaBundle:Form:dividas.html.twig' %}
{% block title %}Sindilojas Litoral Centro | Cadastro{% endblock %}
{% block head %}
    <script src="{{ asset('bundles/sindilojas/js/jquery.validate.min.js') }}"></script>
    <script src="{{ asset('bundles/sindilojas/js/messages_ptbr.js') }}"></script>
    <script src="{{ asset('bundles/sindilojas/js/validate/additional-methods.js') }}"></script>
    <script src="{{ asset('bundles/sindilojas/js/jquery.maskedinput.min.js') }}"></script>
    <script src="{{ asset('bundles/sindilojas/js/jquery.maskMoney.js') }}"></script>
    <script src="{{ asset('bundles/sindilojas/js/jquery-ui-1.10.3.min.js') }}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function(){
            jQuery('#loading').hide();
            jQuery("#cliente_cpf").mask("999.999.999-99");
            jQuery("#cliente_cnpj").mask("99.999.999/9999-99");
            jQuery("#cliente_nascimento").mask("99/99/9999").datepicker();;
            jQuery("#cliente_telefone, #cliente_telefone1, #cliente_telefone2").mask("(99) 9999-9999?9");
            jQuery("#cliente_cep").mask("99999-999", 
                {completed:function(){
                    jQuery.getScript('http://cep.republicavirtual.com.br/web_cep.php?formato=javascript&cep='+this.val(), function(data){
                        jQuery('#cliente_uf').val(unescape(resultadoCEP.uf));
                        jQuery('#cliente_cidade').val(unescape(resultadoCEP.cidade));
                        jQuery('#cliente_bairro').val(unescape(resultadoCEP.bairro));
                        jQuery('#cliente_rua').val(unescape(resultadoCEP.tipo_logradouro)+' '+unescape(resultadoCEP.logradouro));
                        if(jQuery('#cliente_uf').val()==''){
                            alert('CEP Inválido');
                            jQuery("#cliente_cep").val('');
                        }
                    })
                }}
            );
            jQuery("#basicForm").validate({
                rules: {
                    "cliente[cpf]":         {required: {
                                                        depends: function() { return (jQuery('#cliente_cnpj').val() == ''); }
                                                        },
                                                        cpf: true},
                    "cliente[cnpj]":         {required: {
                                                        depends: function() { return (jQuery('#cliente_cpf').val() == ''); }
                                                        },
                                                        cnpj: true},
                    "cliente[email]":       {email: true},
                    "cliente[nascimento]":  {brazilianDate: true}
                },
                highlight: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                success: function(element) {
                    jQuery(element).closest('.form-group').removeClass('has-error');
                },
                errorPlacement: function(error, element) {
                    jQuery(element).closest('.form-group').append(error);
                },
                submitHandler: function(form) {
                    var valor;
                    for(var i=dividaCount; i>0;) {
                        i--;
                        valor = jQuery("#cliente_dividas_"+i+"_valor").maskMoney('unmasked')[0];
                        jQuery("#cliente_dividas_"+i+"_valor").maskMoney('destroy');
                        jQuery("#cliente_dividas_"+i+"_valor").val(valor);
                    }
                    jQuery('#cliente_cidade, #cliente_uf').removeAttr('disabled');
                    
                    jQuery('button').hide();
                    jQuery('#loading').fadeIn(200);
                    form.submit();
               }
            });
            var dividaCount = '{{ form.dividas|length }}';
            
            for(var i=dividaCount; i>0;) {
                i--;
                jQuery("#cliente_dividas_"+i+"_vencimento").mask("99/99/9999").datepicker();
                jQuery("#cliente_dividas_"+i+"_valor").maskMoney({thousands:'.', decimal:','});
                jQuery("#cliente_dividas_"+i+"_valor").maskMoney("mask");
            }
            
            var collectionHolder = jQuery("#dividas");
            
            // add a delete link to all of the existing tag form li elements
            collectionHolder.find('.form-group').each(function() {
                addTagFormDeleteLink($(this));
            });
                        
            function addTagFormDeleteLink($tagFormLi) {
                
                var $removeFormA = $('<div class="col-sm-1"><button type="button" class="btn btn-default">Excluir</button></div>');
                $tagFormLi.children("div").append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }
            
            jQuery('#add-divida').click(function(e) {
                e.preventDefault();

                var dividas = jQuery('#dividas');

                // grab the prototype template
                var $newWidget = dividas.attr('data-prototype');
                // replace the "__name__" used in the id and name of the prototype
                // with a number that's unique to your emails
                // end name attribute looks like name="contact[emails][2]"
                $newWidget = jQuery($newWidget.replace(/__name__/g, dividaCount));
                
                addTagFormDeleteLink($newWidget);
                jQuery("#dividas").append($newWidget);
                jQuery("#cliente_dividas_"+dividaCount+"_vencimento").mask("99/99/9999").datepicker();
                jQuery("#cliente_dividas_"+dividaCount+"_valor").maskMoney({thousands:'.', decimal:','});
                dividaCount++;
            });
        });
        
        function getLinkCarta() {
            var link = "{{ path('_carta_cliente') }}";
            
            if (jQuery('#cliente_nome').val()!="") {
                link = link+"/"+jQuery('#cliente_nome').val();
            }
            jQuery.get(link, function(doc) {
                location.href = doc;
            })
            
        }
    </script>
{% endblock %}

{% block mainpanel %}
<div class="pageheader">
    <div class="media">
        <div class="pageicon pull-left">
            <i class="fa fa-pencil"></i>
        </div>
        <div class="media-body">
            <ul class="breadcrumb">
                <li><a href=""><i class="glyphicon glyphicon-home"></i></a></li>
                <li><a href="">Clientes</a></li>
                <li>{{ cliente.getid>0 ? "Editar" : "Cadastrar" }} Cliente</li>
            </ul>
            <h4>{{ cliente.getid>0 ? "Editar" : "Cadastrar" }} Cliente</h4>
        </div>
    </div><!-- media -->
</div><!-- pageheader -->

<div class="contentpanel">
    <div class="row">
        <div class="col-md-12">
            <form method="POST" class="form-horizontal form-bordered" id="basicForm" action="">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        {{ form_row(form.nome) }}
                        {{ form_row(form.cpf) }}
                        {{ form_row(form.cnpj) }}
                        {{ form_row(form.rg) }}
                        {{ form_row(form.cep) }}
                        {{ form_row(form.uf) }}
                        {{ form_row(form.cidade) }}
                        {{ form_row(form.bairro) }}
                        {{ form_row(form.rua) }}
                        {{ form_row(form.numero) }}
                        {{ form_row(form.complemento) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.telefone) }}
                        {{ form_row(form.telefone1) }}
                        {{ form_row(form.telefone2) }}
                        {{ form_row(form.nascimento) }}
                        {{ form_row(form.cobrancaJudicial) }}
                        <div id="dividas" data-prototype="{{ form_row(form.dividas.vars.prototype)|e  }}" class="dividas">
                        {% for divida in form.dividas %}
                            {{ form_row(divida) }}
                        {% endfor %} 
                        
                        </div>
                        <div class="col-md-12">
                            <button id="add-divida" type="button" class="btn btn-success">Adicionar Dívida</button>
                        </div>
                        {{ form_row(form._token) }}
                        {{ form_errors(form) }}
                    </div><!-- row -->
                </div><!-- panel-body -->
                <div class="panel-footer">
                  <div class="row">
                    <div class="col-sm-9 col-sm-offset-3">
                        <a class="btn btn-success" href="javascript:getLinkCarta()">Gerar Carta</a>
                        <img src="{{ asset('bundles/sindilojas/images/loading.gif') }}" id="loading" alt="Carregando" />
                        <button class="btn btn-primary mr5">Salvar</button>
                        <!-- <button type="reset" class="btn btn-dark">Limpar</button> -->
                    </div>
                  </div>
                </div><!-- panel-footer -->  
            </div><!-- panel -->
            </form>

        </div><!-- col-md-12 -->
    </div><!-- row -->
</div><!-- contentpanel -->
{% endblock %}