<!DOCTYPE html>
<html>
    <head>
        <title>Recibo Cliente</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="margin: 0 auto; width: 800px; font-family: Arial;">
        <table style="margin: 15px 50px 0; width: 100%">
            <tr>
                <td>
                    <img width="160" src="{{ asset('bundles/sindilojas/images/image00.png') }}" />
                </td>
                <td style="text-align: right">
                    Osório, {{ dia }} de {{ mes }} de {{ ano }}.
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    Prezado (a) Senhor (a):
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: center;">
                    <strong>{{ clienteNome }}</strong>
                    <br/><br/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">
                    Venho por intermédio desta, convidar vossa senhoria para comparecer em nosso escritório profissional, com endereço na Rua João Sarmento, nº 249, Bairro Centro, na Cidade de Osório/RS, em até 15 dias, no horário das 08h30m às 11h, e das 13h às17h, para tratarmos de assunto de seu maior interesse. 
                    Não podendo comparecer nesta data, favor entrar em contato pelo telefone (51) 3601-2528 (Sindilojas), com Fernanda.
                    <br/><br/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">
                    Caso vossa senhoria não comparecer ou não entrar em contato, no prazo de 5 dias, ingressamos com a devida MEDIDA JUDICIAL que entendemos cabível.                
                    <br/><br/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">
                    Desde já, colho o ensejo para renovar os protestos de elevada estima e distinta consideração.                
                    <br/><br/><br/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">
                    Certos de sua atenção ao exposto,      <br/><br/>
                    Cordialmente;<br/><br/>
                    Dr. Elton Goldani Alves<br/>
                    OAB 91.236<br/>
                    Departamento de Cobrança<br/>
                    Sindilojas Osório
                    <br/><br/><br/>
                </td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: left;">
                    <span><img width="80" src="{{ asset('bundles/sindilojas/images/image00.png') }}" /></span>&nbsp;&nbsp;&nbsp;&nbsp;Rua João Sarmento, nº  249, Centro – Osório/RS
                </td>
            </tr>
            
        </table>
    </body>
</html>
